jupyter>=1.0.0
notebook>=4.2.1
pandas==0.18.1
numpy>=1.13.0
scipy>=0.19.1
python-dateutil==2.5.3
pytz==2016.4
multiprocessing

# NOTE: REQUIRES cylp>=0.7.3 on Mac
# Linux: requires cylp>=0.7.2; install with easy_install
# This may need to be built from source, in which case you will want to start with only numpy and scipy in the environment (otherwise there will be build conflicts)
# See details at https://github.com/coin-or/CyLP
